@font-face {
    font-family: "magnet-lato";
    src: url(Lato_font/Lato-Regular.ttf) format("truetype");
}

html *{
	font-family: "magnet-lato";
}

body {
	max-width: 100%;
}

.skew{
	/* z-index: -1; */
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	padding-bottom: 100px;
	padding-top: 30px;
}

.skew-content{
	padding-top: 50px;
   -webkit-transform: skewY(4deg) !important;
   -moz-transform: skewY(4deg) !important;
   -o-transform: skewY(4deg) !important;
   transform: skewY(4deg) !important;
}

#top{
	margin-bottom: -3.5%;
}
#main-logo-container{
	/*height:100vh;*/
	/*position: relative;
	width: 100%;*/
}
#first {
	background: #EDEDED;
	color: white;
	z-index: 9999;
}

#first h3 {
	text-align: center;
}

.company-description-container{
	font-size: 2rem;
	color: #434343;
}

.section-title{
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

#second {
	background: #ffffff;
	text-align: center;
}

#third {
	background: #ffffff;
	text-align: center;
}

#third .container-fluid {
	margin-left: 4%;
	margin-right: 4%;
}

.overlay-container{
	position: relative; 
	padding: 15px;
}

.overlay-container .img-overlay{
	display: none;
	background-color: rgba(135,199,212,0.85);
}

.overlay-container .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135,199,212,0.85);
    color: #fff;
    
}

.vertical-center-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.vertical-center-middle {
    display: table-cell;
    vertical-align: middle;
}

.vertical-center-inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}


.team-role{
	text-align: center;
}

.team-description-container{
	padding: 18px;
	margin: 25px;
}
.team-description-container p {
	color: #fff;
	text-align: center;
}

#company-skew-1{
	position: relative;
	background-color: #f4a894;
}

#company-skew-1:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -28px;
    display: block;
    width: 55px;
    background: #f4a894;
    -webkit-transform: skewX(3deg);
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -o-transform: skewX(3deg);
    transform: skewX(3deg);
}


#company-skew-2 {
	position: relative;
	background-color: #a3767c;
}

@media screen and (min-width: 1200px) {
    #company-skew-2 {
        top: 60px;
    }
}

#company-skew-2:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    display: block;
    width: 55px;
    background: #a3767c;
    -webkit-transform: skewX(3deg);
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -o-transform: skewX(3deg);
    transform: skewX(3deg);
}

#company-skew-2:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -28px;
    display: block;
    width: 55px;
    background: #a3767c;
    -webkit-transform: skewX(-3deg);
    -moz-transform: skewX(-3deg);
    -ms-transform: skewX(-3deg);
    -o-transform: skewX(-3deg);
    transform: skewX(-3deg);
}

#company-skew-3{
	position: relative;
	background-color: #ffd17b;
}

@media screen and (min-width: 992px) {
    #company-skew-3 {
        top: 10px;
    }
}

#company-skew-3:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    display: block;
    width: 55px;
    background: #ffd17b;
    -webkit-transform: skewX(-3deg);
    -moz-transform: skewX(-3deg);
    -ms-transform: skewX(-3deg);
    -o-transform: skewX(-3deg);
    transform: skewX(-3deg);
}

#company-skew-3:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -28px;
    display: block;
    width: 55px;
    background: #ffd17b;
    -webkit-transform: skewX(3deg);
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -o-transform: skewX(3deg);
    transform: skewX(3deg);
}

#company-skew-4{
	position: relative;
	background-color: #5f6b75;
}

#company-skew-4:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    display: block;
    width: 55px;
    background: #5f6b75;
    -webkit-transform: skewX(3deg);
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -o-transform: skewX(3deg);
    transform: skewX(3deg);
}



#fourth {
	background: #404041;
	color: white;
	text-align: center;
}

.bigP {
    margin: 0 0 50px;
}

.titleCenter{
	font-weight: bold;
    color: #434343;
	text-align: center;
	margin-top: 5%;
}

/*********** Team Members ***********/
#teamImg {
	text-align: center;
}

#teamImg .col {
	text-align: center;
}

#teamImg .col:focus {
	outline: none !important;
	box-shadow: none !important;
}

#teamImg .col {
	box-shadow: none !important;
	background-color: transparent;
	padding: 0;
	margin: auto;
	margin-bottom: 2em;
}

.team-member-button {
	width: 150px;
	height: 150px;
	padding: 0;
	margin: 0;
	outline: none !important;
	background: url("../img/team/foto.png") no-repeat center;
	background-color: rgba(169, 169, 169, 0.93);
    background-size: 100% 100%;
	border-radius: 50%;
	border: 0;
}

.team-member-overlay {
    height: 100%;
    width: 100%;
    position: relative;
    border: 0;
	border-radius: 50%;
    padding: 0;
    background-size: cover;
	background-color: transparent;
	padding-top: 22%;
	
	-webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.team-member-overlay.mouse-hover {
	background-color: rgba(169, 169, 169, 0.93);
}

.team-member-overlay > p {
	color: transparent;
	display: block;
	margin: 0;
	padding: 0;
	padding-bottom: 0.5em;
}

.team-member-overlay.mouse-hover > p {
	color: #434343;
	
	-webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.team-member-overlay > p.member-name {
	font-size: 1.5em;
	font-weight: 600;
}

.team-member-overlay > p.member-team {
	font-size: 0.8em;
}

.team-member-overlay > p.member-position {
	font-size: 0.8em;
}

/*********** Sidebar ***********/
.sidebar-menu {
	position: fixed;
	top: 0;
	right: -20%;
	width: 20%;
	height: 100%;
	z-index: 10000;
	text-align: left;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	 -o-transition: all .3s ease;
		transition: all .3s ease;
}

.sidebar-menu.sidebar-menu-open {
	right: 0;
	width: 22%;
}

.sidebar-menu-wrap {
    background: rgba(0,0,0,0.8);
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
}

.sidebar-menu img {
	text-align: center;
}

.sidebar-menu img.logo {
	width: 25%;
    height: auto;
    margin: auto;
	margin-top: 5em;
	margin-bottom: 1em;
    display: block;
}

.sidebar-menu a {
    padding-left: 20px;
    color: #808080;
    display: block;
    font-size: 2vmin;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
	text-decoration: none;
}

.sidebar-menu a:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.25);
}

.sidebar-menu a:active {
	color: #ffffff;
}

.sidebar-menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

#sidebar-toggle {
	position: absolute;
    top: 2em;
    left: -7em;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 5em;
    height: 5em;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
	display: table;
}

#sidebar-toggle > i {
	display:table-cell;
	vertical-align:middle;
}


#sidebar-toggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/*********** Topbar ***********/
.topbar-menu {
	position: fixed;
	top: 0;
	height: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	
	-webkit-transition: all height .3s ease-in-out;
	-moz-transition: all height .3s ease-in-out;
	-ms-transition: all height .3s ease-in-out;
	 -o-transition: all height .3s ease-in-out;
		transition: all height .3s ease-in-out;
}

.topbar-menu.topbar-menu-open {
	height: auto;
	background: transparent;
}

.topbar-menu-wrap {
	display: none;
	width: 100%;
	height: 0;
}

.topbar-menu-wrap.open {
	display: block;
    background: rgba(0,0,0,0.8);
	right: 0;
	width: 100%;
	height: auto;
}

.topbar-menu img {
	text-align: center;
}

.topbar-menu img.logo {
	display: block;
	width: 9%;
    height: auto;
    margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.topbar-menu a {
    color: #808080;
    display: block;
    font-size: 2.5vmin;
    font-weight: 700;
    line-height: 9vmin;
    letter-spacing: 0.1em;
    text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.topbar-menu a:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.25);
}

.topbar-menu a:active {
	color: #ffffff;
}

.topbar-menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

#topbar-toggle {
	position: absolute;
	margin-top: 1em;
	right: 1em;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 10vmin;
    height: 10vmin;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
	    display: table;
}

#topbar-toggle > i {
	display:table-cell;
	vertical-align:middle;
}


#topbar-toggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.imgCenter {
	margin: auto;
    display: block;
}

.videoLogo {
    width: 60%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    margin-left: 20%;
    margin-top: 15%;
}

h3 {
    font-size: 50px;
}

.coverVideo{
	display: table;
    width: 100%;
    height: 200% !important;
    position: absolute;
    background-color: rgba(255,255,255,.5);
}